html {
    font-family: 'GARUDA', sans-serif;
}

body {
    margin: 0px;
}

.hero-header {
    background-color: #1f2937;
    margin: -10px;
}

.header-links {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding-right: 180px;
    margin-right: auto
    }

.left-links {
    padding-left: 180px;
    margin-left: autopx;
    color: #f9faf8;
}

.right-links {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    color: #e5e7eb;
    padding: 0 15px;
    margin-right: 35px;
    font-size: 22px;
    
}

.hero-main {
    font-weight: 800;
    display: flex;
    width: 70%;
    padding: 0px 0 70px;
    margin: 0 auto;
    background-color: ;
}

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    padding-right: 2em;
    line-height: 1.3em;
    margin-bottom: 0;
}

.hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    padding-right: 2em;
    margin-top: 0px;
    line-height: 1.2em;
}

.hero-left {
    display: flex;
    flex-direction: column;
}

.sign-up {
    padding: 8px 20px;
    border-radius: 8px;
    align-self: flex-start;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    border-style: hidden;
}

.hero-image {
    margin: 0 auto;
}

.point-text {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 30px auto 30px;
}

.point-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper {    
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.sales-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.box {
    border: 4px solid #3882f6;
    height: 140px;
    width: 140px;
    border-radius: 12px;
}

.sales-text {
    width: 140px;
    text-align: center;
}

.sales-points {
    line-height: 1.3em;    
    height: 140px;
    width: 140px;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.quote-text {
    max-height: 400px;
    max-width: 700px;
    display: flex;
    overflow: auto;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 25px;
}

.cta-container {
    height: 80px;
    width: 800px;
    background-color: #3882f6;    
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    align-items: center;
}

.cta-header {
    color: #e5e7eb;
    font-weight: 800;
    font-size: 25px;
    margin: 0 25px;
}

.cta-text {
    color: #e5e7eb;
    font-weight: 600;
    font-size: 16px;
    margin-left: 25px;
    margin-top: -15px;
    padding-right: 10px;
}

#signup {
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 8px;
    margin-right: 25px;
}

.footer {
    background-color: #1f2937;
    margin: -10px;
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
    padding: 30px;
}